<div class="jumbotron">
   <h1>Contact</h1>
   <!--<div class="row">
      <div class="col-sm-4">-->
   <div class="address">
      1250 Baker Ave
      <br>
      Whitefish, MT 59937
   </div>
   <!--<form id="contact" method="post" class="form" role="form">
      <%= form_for @message, url: contact_path do |message_form| %>
      <div class="row form group">
         <%= message_form.text_field :name, class: "col-xs-6 col-md-6 input-group", placeholder: "Name" %>
         <%= message_form.email_field :email, class: "col-xs-6 col-md-6 input-group", placeholder: "Email"%>
         <%= message_form.text_area :content, class: "col-xs-6 col-md-6 input-group", rows: "3", placeholder: "Message"%>
      </div>
   </form>
   <form>
      <div class="row form group">
         <%= message_form.submit class: "ContactForm btn btn-primary pull-right" "Send" %>
      </div>
   </form>
   <% end %>-->
</div>