<!DOCTYPE html>
<html>
   <head>
      <link rel="shortcut icon" href="../../assets/images/406stronglogo.gif">
      <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
      <title>406 Strong</title>
      <%= stylesheet_link_tag "application", media: "all",
         "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <!-- javascript that will initiate jQuery and the LocalScroll plugin -->
      <!-- Load jQuery -->
      <script src="jquery-2.1.1.js"></script>
      <script src="jquery-2.1.1.min.js"></script>
      <!-- Load ScrollTo -->
      <script src="jquery.scrollTo.js"></script>
      <!-- Load LocalScroll -->
      <script src="jquery.localScroll.js"></script>   
      <!-- Load resizeWindow -->
      <script src="resizeWindow.js"></script>
      <script>
         // When the document is loaded...
         $(document).ready(function()
         {
             // Scroll the whole document
             $('#featurettes').localScroll();
         })
      </script>
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54328408-1', 'auto');
  ga('send', 'pageview');

</script>
   </head>
   <body>
      <%= render 'layouts/header' %>
      <div class="container">
         <% flash.each do |name, msg| %>
         <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
         <% end %>
         <%= yield %>
      </div>
   </body>
   <%= render 'layouts/footer' %>
</html>